:root{
    --dark: #282828;
    --light: #fffcfc;
    --gray: #a0a0a0;
    --light: #fffcfc;
}

*{
    margin: 0;
    padding: 0;
}

/* .col{
    border: 2px red solid;
} */

body{
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vw;
}

a{
    margin: 0;
    padding: 0;
}

.bg-dark {
    background-color: var(--dark)!important;
}

.dark-theme{
    background-color: var(--dark);
    color: var(--light);
}

.light-theme{
    background-color: var(--light);
    color: var(--dark);
}