:root{
    --dark: #282828;
    --dark-dark: #1f1f1f;
    --light: #fffcfc;
    --gray: #a0a0a0;
    --blue: #0d6efd;
    --red: #a80707;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vw;
    background-color: var(--dark);
    color: var(--light);
}

a{
    margin: 0;
    padding: 0;
}

.bg-dark {
    background-color: var(--dark)!important;
}

.dark-theme{
    background-color: var(--dark);
    color: var(--light);
}

.light-theme{
    background-color: var(--light);
    color: var(--dark);
}

.dn{
    display: none;
}

.dropdown-menu{
    background-color: var(--dark);
}

.dropdown-item{
    color: var(--light);

    transition: all .1s linear;
}

.dropdown-item:hover{
    background-color: var(--dark-dark);
    color: var(--light);
}