:root{
    --dark: #282828;
    --black: #202020;
    --light: #fffcfc;
    --gray: #a0a0a0;
}

*{
    margin: 0;
    padding: 0;
}

/* .col{
    border: 2px red solid;
} */

body{
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vw;
    background-color: var(--dark);
}

a{
    margin: 0;
    padding: 0;
}

@media (max-width: 765px){
    body{
        font-size: 5vw;
    }
}

.bg-dark {
    background-color: var(--dark)!important;
}

.dark-theme{
    background-color: var(--dark);
    color: var(--light);
}

.light-theme{
    background-color: var(--light);
    color: var(--dark);
}

/*--- NAVBAR---*/

.navbar-dark .navbar-nav .nav-link{
    color: var(--light);
    text-transform: uppercase;
}

.navbar-nav{
    display: flex;
    font-weight: 700;
}

.right{
    right: 0;
    margin-right: 0px!important;
}

.nav-item{
    margin-right: 20px;
}

.nav-link{
    font-size: 0.5em;
}