:root{
    --dark: #282828;
    --light: #fffcfc;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 20px;
    font-weight: 500;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    z-index: 0;
}

.container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* --- HEADER --- */

.header{
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--dark);
    background-size: cover;
    width: 100%;
    height: 10vh;
    color: var(--light);
    padding-bottom: 10px;
    z-index: 1;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 700;
    justify-content: space-between;
    padding-top: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light);
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

/* --- INTRO --- */

.intro{
    display: block;
    background-color: var(--dark);
    background-size: cover;
    color: var(--light);
    width: 100%;
    height: 90vh;
}

.intro_inner{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.intro_edge{
    width: 25%;
}

.intro_center{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 80vh;    
}

.knaaru{
    font-size: 60px;
    font-weight: 700;
}

.logo{
    width: 70%;
}

/* --- INFO --- */

.info{
    display: block;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.info_durka{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
}

.title{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle{
    padding-bottom: 50px;
}

/* --- NEWS --- */

.news{
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    display: block;
    padding-bottom: 50px;
    overflow: hidden;
}

.news_durka{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.news_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.news_item{
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 220px;
    background-color: var(--light);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: var(--dark);

    transition: all 0.5s ease;
}

.news_item:hover{
    transform: translate(-10px, -10px);

}

.news_title{
    padding-left: 20px;
    padding-top: 30px;
    text-transform: uppercase;
}

.news_subtitle{
    padding-left: 20px;
    padding-top: 30px;
}

/* --- ACHIEVEMENTS --- */

.achievements{
    display: block;
    padding-bottom: 50px;
    width: 100%;
    background-color: var(--light);
    color: var(--dark);
}

.ach_durka{
    display: flex;
    flex-direction: column;
}

.ach_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ach_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.ach_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

    transition: all 0.5s ease;
}

.ach_img:hover{
    transform: scale(1.1);
}

.ach_text{
    text-transform: uppercase;
    padding-top: 20px;
}

/* --- TIMETABLE --- */

.timetable{
    display: block;
    padding-bottom: 50px;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
}

.timetable_durka{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timetable_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}

.timetable_item{
    text-align: center;
}

.title_static{
    text-transform: uppercase;
    padding-bottom: 10px;
}

.subtitle_static{
    font-size: 22px;
    padding-bottom: 3px;
}

.swords_block{
    width: 10%;
}

.swords{
    width: 100%;
    height: 100%;
}

/* --- FOOTER --- */

.footer{
    padding-top: 50px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
}

.footer_durka{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50vw;
    margin: 0 auto;
}

.img_footer{
    width: 50px;
    height: 50px;

    transition: all 0.5s ease;
}

.img_footer:hover{
    transform: scale(1.1);
}