@import url("../../css/main.css");

table {
    width: 100%;
}

input[type=text],
textarea {
    color: var(--light);
    font-family: inherit;

    border: none;
    border-bottom: 1px var(--gray) solid;
    background-color: transparent;
    width: 100%;

    transition: border-bottom-color .2s linear;
}

input[type=text]::placeholder,
textarea::placeholder {
    font-family: inherit;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus{
    outline: none;
    caret-color: var(--light);
    border-bottom: 1px var(--light) solid;
}

.add_title {
    font-size: 32px;
    width: max-content;
}

.add_form {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 10px;
}

.form_item {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.form_input {
    height: 24px;
    margin-left: 15px;
}

.td_left {
    width: 10%;
}

.td_right {
    width: 90%;
}